**/__pycache__
.vscode
**/.DS_Store
**/*.plist
!Custom.plist
custom_project_test.yml

# temp files for build
.brand_name
.build_number
.version_number

# this is CI specific
Brewfile_CI
Brewfile_CI.lock.json